
.card {
    width: 100%;
   padding: 0.5rem 0.5rem;
   border-radius: 1rem; 
   border: 1px solid transparent;
   backdrop-filter: blur(1rem);
   box-shadow: 1.3rem 1.3rem 1.3rem rgba(41, 34, 38, 0.362);
}

.cb1{
    background-color: rgba(180, 22, 148, 0.133);
}
.card-number{
    color: rgba(235, 212, 212, 0.284);
    font-size: 1rem;
    margin-left: 5px;
 
}

.card-comprar{
display: flex;
flex-direction: column;
}
