.letter__custom{
    text-align: center;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: 'La Belle Aurore', cursive;
}
.btn__custom {
    width: 10rem;
    background-color: $color-backgraundHyF;
    text-align: center;
    border-radius: 15px;
    border:2px;
    font-size: 17px;
    

}