*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{

    background-image: url("../assets/backgraund.jpg");
    font-family: 'Amatic SC', cursive;
    
}
