// colores
$color-principal: rgba(37, 36, 38, 0.438);
$color-secundario: rgb(25, 14, 34);
$color-backgraund: rgba(0, 0, 0, 0.12);
$color-letra:rgb(25, 14, 34);
$color-boton: rgb(28, 15, 38);
$color-backgraundHyF: rgba(119, 83, 110, 0.041);


